//全局颜色
@forward "global-color";

//边框线条
@forward "global-border";

//字体
@forward "global-font-family";

//文字大小
@forward "global-font-size";

//行高
@forward "global-line-height";

//滚动条
@forward "global-scrollbar";

//自定义
@forward "custom";
