//特小
$extra-small: var(--el-font-size-extra-small);

//小
$small: var(--el-font-size-small);

//基础
$base: var(--el-font-size-base);

//中等
$medium: var(--el-font-size-medium);

//大
$large: var(--el-font-size-large);

//特大
$extra-large: var(--el-font-size-extra-large);
