@charset "UTF-8";
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 6px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 6px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  background: rgba(144, 147, 153, 0.5019607843);
}

::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0);
  border-radius: 0;
  background: transparent;
}

.scrollbar {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.ve-table-search {
  margin-bottom: 10px;
}
.ve-table-search .search-btn {
  float: right;
}
.ve-table-search .el-form-item {
  margin-bottom: 18px;
}
.ve-table-search .el-input {
  width: 200px;
}
.ve-table-search ::v-deep(.el-card__header) {
  padding: 10px 20px;
}
.ve-table-search ::v-deep(.el-card__body) {
  padding: 20px 20px 2px 20px;
}

.ve-table ::v-deep(.el-card__header) {
  padding: 10px 20px;
}
.ve-table ::v-deep(.el-card__body) {
  padding: 10px 15px;
}

.ve-tableFullScreen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
}
.ve-tableFullScreen .el-table {
  height: 100%;
}

.ve-column-checkbox {
  width: 100%;
  margin-right: 0;
}

.el-dialog .el-dialog__header {
  border-bottom: 1px solid var(--el-border-color);
  padding-right: 36px;
  margin-right: 0;
}
.el-dialog .el-dialog__footer {
  border-top: 1px solid var(--el-border-color);
}

.el-select {
  width: 100%;
}

.el-form-item__error {
  left: 2px;
}

.el-cascader {
  width: 100%;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.text-flow-ellipsis-multiple_1 {
  /* 多余内容省略号处理-多行 */
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.text-flow-ellipsis-multiple_2 {
  /* 多余内容省略号处理-多行 */
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.text-flow-ellipsis-multiple_4 {
  /* 多余内容省略号处理-多行 */
  word-break: break-all;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

:focus-visible {
  outline: none;
}

.my-awesome-json-theme {
  background-color: var(--el-bg-color);
}
.my-awesome-json-theme :deep(.jv-button) {
  color: var(--el-color-primary);
}
.my-awesome-json-theme :deep(.copied) {
  color: var(--el-color-success);
  opacity: 1;
}
.my-awesome-json-theme :deep(.jv-toggle) {
  background-size: 25px;
  margin-right: 5px;
}
.my-awesome-json-theme :deep(.jv-object) {
  font-weight: bold;
  color: var(--el-text-color-regular);
}
.my-awesome-json-theme :deep(.jv-array) {
  font-weight: bold;
  color: var(--el-text-color-regular);
}
.my-awesome-json-theme :deep(.jv-key) {
  font-weight: bold;
  margin-right: 5px;
  color: var(--el-color-danger);
}
.my-awesome-json-theme :deep(.jv-string) {
  color: var(--el-color-success);
}
.my-awesome-json-theme :deep(.jv-boolean) {
  color: var(--el-color-success);
}

.icon-image {
  cursor: pointer;
  width: 16px;
  height: 16px;
}

/*# sourceMappingURL=global.css.map */
