//element-plus全局样式修改

//模态框样式
.el-dialog {
  .el-dialog__header {
    border-bottom: 1px solid $base-border;
    padding-right: 36px;
    margin-right: 0;
  }

  .el-dialog__footer {
    border-top: 1px solid $base-border;
  }
}

//下拉选择样式
.el-select {
  width: 100%;
}

//表单验证文字样式
.el-form-item__error {
  left: 2px;
}

//级联选择样式
.el-cascader {
  width: 100%;
}

